examples/airship_rest_example.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d1db19fcbfa380c9",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "name": "Airship REST examples",
        "style": {
            "label": true
        },
        "nodes": [
            "048d6573330ae9e1",
            "1a727a113052adc9",
            "19453c032a27538f",
            "24942ca71a55e34b",
            "56a6afeb11469433",
            "4c04fa2ca89f6bd7",
            "ef08bba91c0303a4",
            "da9248b854410d94",
            "87e2a57a52f82ed1",
            "607c1ec058ecfc02",
            "82074952a73b236c",
            "3138ec695635ec81"
        ],
        "x": 34,
        "y": 39,
        "w": 832,
        "h": 322
    },
    {
        "id": "048d6573330ae9e1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "POST Contact",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1a727a113052adc9"
            ]
        ]
    },
    {
        "id": "1a727a113052adc9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "Payload",
        "func": "var contact = {\n    \"email\": \"notmyemail@gmail.com\",\n    \"first_name\": \"Andre\"\n    //Other info here\n}\n\nmsg.payload = {\n  \"token\" : \"Your API Token here\",\n  \"contact\": contact\n};\n\nmsg.config = {\n    \"run_id\": 123,\n    \"integration_config_id\": 321,\n    \"token\" : \"mytoken\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "82074952a73b236c"
            ]
        ]
    },
    {
        "id": "19453c032a27538f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "Payload",
        "func": "var body = {\n    \"account_id\": 1,\n    \"element_01\": \"My-Booking-Reference\"\n    //Other info here\n}\n\nmsg.payload = {\n  \"token\" : \"Your API Token here\",\n  \"body\": body\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 280,
        "wires": [
            [
                "3138ec695635ec81"
            ]
        ]
    },
    {
        "id": "24942ca71a55e34b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "GET booking (using body)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "19453c032a27538f"
            ]
        ]
    },
    {
        "id": "56a6afeb11469433",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c04fa2ca89f6bd7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "ef08bba91c0303a4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "da9248b854410d94",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "87e2a57a52f82ed1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "607c1ec058ecfc02",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 280,
        "wires": []
    },
    {
        "id": "82074952a73b236c",
        "type": "Airship REST",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "version": "v1",
        "method": "contact",
        "env": "",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "56a6afeb11469433"
            ],
            [
                "4c04fa2ca89f6bd7"
            ],
            [
                "87e2a57a52f82ed1"
            ]
        ]
    },
    {
        "id": "3138ec695635ec81",
        "type": "Airship REST",
        "z": "f6f2187d.f17ca8",
        "g": "d1db19fcbfa380c9",
        "name": "",
        "version": "v1",
        "method": "get_bookings",
        "env": "",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "ef08bba91c0303a4"
            ],
            [
                "607c1ec058ecfc02"
            ],
            [
                "da9248b854410d94"
            ]
        ]
    }
]